<div class="top-buffer">
    <p class="lead">Personal Details</p>
    <hr class="my-4">
    <form [formGroup]="forms" (ngSubmit)="onSubmit()">
        <div class="form-group row top-buffer">
            <label for="title" class="col-lg-4 col-form-label text-lg-right">Title:</label>
            <div class="col-lg-8">
                <input id="title" class="form-control" name="title" disabled>
            </div>
        </div>
        <div class="form-group row top-buffer">
            <label for="firstName" class="col-lg-4 col-form-label text-lg-right">First Name:</label>
            <div class="col-lg-8">
                <input id="firstName" class="form-control" formControlName="firstName" [(ngModel)]="firstName">
            </div>
            <div *ngIf="submitted && f.firstName.errors">
                <div *ngIf="f.firstName.errors.required" class="text-danger">First Name is required</div>
                <div *ngIf="f.firstName.errors.minlength" class="text-danger">First Name should be atleast a character</div>
            </div>
        </div>
        <div class="form-group row top-buffer">
            <label for="middleName" class="col-lg-4 col-form-label text-lg-right">Middle Name:</label>
            <div class="col-lg-8">
                <input id="middleName" class="form-control" formControlName="middleName" [(ngModel)]="middleName">
            </div>
            <div *ngIf="submitted && f.middleName.errors">
                <div *ngIf="f.middleName.errors.required" class="text-danger">Middle Name is required</div>
                <div *ngIf="f.middleName.errors.minlength" class="text-danger">Middle Name should be atleast a character</div>
            </div>
        </div>
        <div class="form-group row top-buffer">
            <label for="lastName" class="col-lg-4 col-form-label text-lg-right">Last Name:</label>
            <div class="col-lg-8">
                <input id="lastName" class="form-control" formControlName="lastName" [(ngModel)]="lastName">
            </div>
            <div *ngIf="submitted && f.lastName.errors">
                <div *ngIf="f.lastName.errors.required" class="text-danger">Last Name is required</div>
                <div *ngIf="f.lastName.errors.minlength" class="text-danger">Last Name should be atleast a character</div>
            </div>
        </div>
        <div class="form-group row top-buffer">
            <label for="extensionName" class="col-lg-4 col-form-label text-lg-right">Extension Name:</label>
            <div class="col-lg-8">
                <input id="extensionName" class="form-control" formControlName="extensionName"  [(ngModel)]="extensionName">
            </div>
            <div *ngIf="submitted && f.extensionName.errors">
                <div *ngIf="f.extensionName.errors.required" class="text-danger">Extension Name is required</div>
                <div *ngIf="f.extensionName.errors.minlength" class="text-danger">Extension Name should be atleast a character</div>
            </div>
        </div>
        <div class="form-group row top-buffer">
            <label for="emailAddress" class="col-lg-4 col-form-label text-lg-right">Email Address:</label>
            <div class="col-lg-8">
                <input id="emailAddress" class="form-control" formControlName="emailAddress"  [(ngModel)]="emailAddress">
            </div>           
        </div>
        <div class="form-group row top-buffer">
            <label for="mobileNumber" class="col-lg-4 col-form-label text-lg-right">Contact Number:</label>
            <div class="col-lg-8">
                <input id="mobileNumber" class="form-control" formControlName="mobileNumber"  [(ngModel)]="mobileNumber" >
            </div>
            <div *ngIf="submitted && f.mobileNumber.errors">
                <div *ngIf="f.mobileNumber.errors.required" class="text-danger">Contact Number is required</div>
                <div *ngIf="f.mobileNumber.errors.minlength" class="text-danger">Contact Number should be atleast 8 characters</div>
            </div>
        </div>
        <input id="requesterUniqueId" class="form-control" formControlName="requesterUniqueId" [(ngModel)]="requesterUniqueId" hidden>
        
        <div class="form-group col-lg-2 row top-buffer top-buffer">
            <button type="submit" class="btn btn-primary btn-block">
                Update
            </button>
        </div>
    </form>
   
</div>