<div class="col-md-8 offset-md-2 top-buffer">
    <div class="jumbotron top-buffer">
        <h1 class="display-4">Hello, {{requester}}!</h1>
    </div>
    <div class="form-group row ">
        <app-detail class="col-md-6"></app-detail>       
    </div>   
     <app-createloan></app-createloan>
</div>