<main class="login-form top-buffer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form [formGroup]="forms" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <div class="row">
                                    <label for="emailAddress" class="col-md-4 col-form-label text-md-right">E-Mail
                                        Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="emailAddress" class="form-control"
                                            formControlName="emailAddress" required autofocus>
                                    </div>
                                    <div *ngIf="submitted && f.emailAddress.errors">
                                        <div *ngIf="f.emailAddress.errors.required" class="text-danger">E-Mail Address is required</div>
                                        <div *ngIf="f.emailAddress.errors.minlength" class="text-danger">E-Mail Address should be atleat 6 characters</div>
                                    </div>
                                </div>
                                <div class="form-group row top-buffer">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control"
                                            formControlName="password" required>
                                    </div>
                                    <div *ngIf="submitted && f.password.errors" >
                                        <div *ngIf="f.password.errors.required" class="text-danger">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength" class="text-danger">Password should be atleat 6 characters</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4 row top-buffer offset-md-4 top-buffer">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>