<p class="lead top-buffer">Amortization List</p>
<hr class="my-4">
<table class="table table-striped top-buffer">
  <thead>
    <tr>
      <th scope="col">Date Created</th>
      <th scope="col">Principal</th>
      <th scope="col">Terms</th>
      <th scope="col">Interest</th>
      <th scope="col">Monthly Amortization</th>
      <th>Schedule</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of loans;let i = index">
      <td>{{loan.DateCreated | date: 'dd/MM/yyyy'}}</td>
      <td>{{loan.Principal | number:'1.2-2'}}</td>
      <td>{{loan.Terms | number:'1.0-0'}}</td>
      <td>{{loan.InterestRate | number:'1.2-2'}}</td>
      <td>{{loan.MonthlyAmortization | number:'1.2-2'}}</td>
      <td><i class="bi bi-calendar3"
          (click)='GetSchedule(loan.Principal,loan.Terms,loan.InterestRate,loan.MonthlyAmortization)'></i></td>
    </tr>  
  </tbody>
  <div *ngIf="loans === undefined || loans.length === 0">No data</div>
</table>

<app-amortizations [schedules]='scheduleList'></app-amortizations>


