<div class="top-buffer">
    <p class="lead">Create Loan Amortization</p>
    <hr class="my-4">
    <form [formGroup]="forms" (ngSubmit)="onSubmit()">
        <div class="form-group row top-buffer top-buffer">
            <div class="card offset-md-1 col-md-5">
                <div class="card-body">
                    <h3 class="card-title text-center mb-2 text-muted">Monthly Pay</h3>
                    <hr />
                    <h1 class="card-subtitle text-center">P {{monthlyAmortization | number : '1.2-2'}}</h1>
                </div>
            </div>
            <div class="card offset-md-1 col-md-5">
                <div class="card-body">
                    <h3 class="card-title text-center mb-2 text-muted">Total Interest</h3>
                    <hr />
                    <h1 class="card-subtitle text-center">P {{totalInterest | number : '1.2-2'}}</h1>
                </div>
            </div>
        </div>
        <input id="monthlyAmortization" class="form-control" formControlName="monthlyAmortization" [(ngModel)]="monthlyAmortization" hidden>
        <input id="totalInterest" class="form-control" formControlName="totalInterest" [(ngModel)]="totalInterest" hidden>
        <input id="requesterUniqueId" class="form-control" formControlName="requesterUniqueId" [(ngModel)]="requesterUniqueId" hidden>
        <div class="form-group row top-buffer">
            <label for="principal" class="col-md-4 col-form-label text-md-right">Mortgage Amount:</label>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input id="principal" formControlName="principal" [(ngModel)]="principal" type="number" min="1" class="form-control" placeholder="0.00"
                        aria-label="principal" aria-describedby="principal-addon">
                    <div class="input-group-append">
                        <span class="input-group-text" id="principal-addon">$</span>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && f.principal.errors">
                <div *ngIf="f.principal.errors.required" class="text-danger">Mortgage Amount is required</div>
                <div *ngIf="f.principal.errors.min" class="text-danger">Mortgage Amount should be greater than 0</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="term" class="col-md-4 col-form-label text-md-right">Mortgage Term in Years:</label>
            <div class="col-md-4">
                <div class="input-group mb-3">    
                    <input id="terms" formControlName="terms" [(ngModel)]="terms"  type="number" min="1" max="40" class="form-control" placeholder="0.00"
                        aria-label="terms" aria-describedby="terms-addon">
                    <div class="input-group-append">
                        <span class="input-group-text" id="terms-addon">%</span>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && f.terms.errors">
                <div *ngIf="f.terms.errors.required" class="text-danger">Mortgage Term in Years is required</div>
                <div *ngIf="f.terms.errors.min" class="text-danger">Mortgage Term in Years should be greater than 0</div>
                <div *ngIf="f.terms.errors.max" class="text-danger">Mortgage Term in Years should be not be greater than 40</div>
            </div>
        </div>
        <div class="form-group row top-buffer">
            <label for="interestRate" class="col-md-4 col-form-label text-md-right">Interest Rate per Year:</label>
            <div class="col-md-4">
                <div class="input-group mb-3">    
                    <input formControlName="interestRate" [(ngModel)]="interestRate"  type="number" min="1" class="form-control" placeholder="0.00"
                        aria-label="interestRate" aria-describedby="interestRate-addon">
                    <div class="input-group-append">
                        <span class="input-group-text" id="interestRate-addon">%</span>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && f.interestRate.errors">
                <div *ngIf="f.interestRate.errors.required" class="text-danger">Interest Rate per Year is required</div>
                <div *ngIf="f.interestRate.errors.min" class="text-danger">Interest Rate per Year should be greater than 0</div>
            </div>
        </div>
        <div class="form-group  row top-buffer">
            <button type="button" class="btn btn-primary btn-block col-md-2" (click)="calculate($event)" >
                Calculate
            </button>    
            <button type="submit" class="btn btn-success btn-block mx-2 col-md-2" [attr.disabled]="!calculated ? true : null">
                Submit
            </button>
        </div>
    </form>
    <app-loanlist [loans]="requsterloans"></app-loanlist>   
</div>