<p class="lead top-buffer">Amortization Schedule</p>
<hr class="my-4">
<table class="table table-striped top-buffer">
  <thead>
    <tr>
      <th scope="col">Payment Sequence</th>
      <th scope="col">Monthly Mortgage</th>
      <th scope="col">Principal</th>
      <th scope="col">Interest</th>
      <th scope="col">Total Interest</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of schedules;let i = index">
      <td [id]="i">{{i+1}}</td>
      <td>{{rate.MonthlyAmortization | number:'1.2-2'}}</td>
      <td>{{rate.Principal | number:'1.2-2'}}</td>
      <td>{{rate.InterestPaid | number:'1.2-2'}}</td>
      <td>{{rate.RunningInterest | number:'1.2-2'}}</td>
      <td>{{rate.RunningBalance | number:'1.2-2'}}</td>
    </tr>
  </tbody>
  <div *ngIf="schedules === undefined || schedules.length === 0 ">No data</div>
</table>